/* TYPOGRAPHY */

@font-face {
    font-family: "and_light";
    src: url("../fonts/and_light.woff") format('woff');
}

@font-face {
    font-family: "and_black";
    src: url("../fonts/and_black.woff") format('woff');
}

@font-face {
    font-family: "dala_floda_bold";
    src: url("../fonts/dala-floda-bold.ttf");
}

@font-face {
    font-family: "dala_floda_roman";
    src: url("../fonts/DalaFlodaRoman.otf");
}


p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 20px;
	color: #454545;
	line-height: 30px;
}

p.bold
{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
}
p.work-summary
{
	font-size: 16px;
}

h1 {
	font-family: 'dala_floda_bold', serif;
	color: #454545;
	font-size: 40px;
  margin-bottom: 30px;
}

h1.wrapped {
  max-width: 700px;
  text-align: center;
}

h2 {
  font-family: 'dala_floda_roman', serif;
	font-size: 28px;
	color: #454545;
}

p.quote
{
	font-family: roboto, sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #444;
	line-height: 33px;
	background-image: url('../img/quotation_mark@2x.jpg');
	background-size: 30px 24px;
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 40px;
	padding-top: 15px;
	margin-left: -40px;
	margin-top: 40px;
}

.heavy {
	font-family: roboto, sans-serif;
	font-weight: 400;
}

/* SECTIONS */

.dark-section
{
	background-image: url("../img/section_top@2x.jpg"), url("../img/section_bottom@2x.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: top, bottom;
	height: 600px;
	background-color: #F3F3F3;
	padding-top: 400px !important;
	padding-bottom: 400px !important;
}

.sub-headline
{
	max-width: 500px;
	text-align: center;
}

/* DIVIDER */

hr.divider{
  max-width:400px;
  display: block;
  position: relative;
  top: -20px;

}
/* BUTTONS */

.btn-primary
{
	background-color: #FFF;
	border:2px solid #FF2828;
  border-radius: 100px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
	color: #FF2828;
	font-size: 19px;
	text-align: center;
	padding: 12px 25px;
	margin-top: 40px !important;
	transition: all 0.4s ease 0s;

}

.btn-primary:hover
{
	background-color: #56A131;
	transform: scale(1.02);
	-webkit-box-shadow: 0px 22px 44px -11px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 22px 44px -11px rgba(0,0,0,0.21);
box-shadow: 0px 22px 44px -11px rgba(0,0,0,0.21);


}

.btn-primary:focus, .btn-primary:active, .btn:focus, .btn:active {
   outline: none !important;
}

/* NAVIGATION */

.nav-item, .navbar-brand
{
  padding-top: 0;
  padding-bottom: 0;
}

nav .nav-item.nav-link
{
	font-family: 'dala_floda_bold';
	color: #A2A2A2 !important;
	font-size: 18px;
	transition: all 0.4s ease 0s;


}

nav .nav-item.nav-link:hover
{
	color: #707070 !important;
}


.navbar
{
	padding: 25px 40px 25px 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(176,176,176,0.2);
}

/* HERO SECTION */

.hero-section
{
  margin-top: 150px;
}

.hero-image
{
	/* align-self: center; */
  float: right;
  position: relative;
  top: -60px;
}

.hero p
{
	font-family: 'and_black';
	font-size: 14px;
	color: #B0B0B0;
	text-align: center;
	line-height: 20px;
}

.hero img
{
	display: block;
	margin: auto;

}


/* Client section */

.client-section
{
    margin-top: 70px;
}

/* OTHER */

.snake
{
	margin: 60px 0 40px 0;
	padding: 0;
}

.container-fluid
{
	padding-left: 0;
}

.skills p
{
	font-family: 'and_black';
	color: #B0B0B0;
	font-size: 14px;
	line-height: 18px;
	margin: 0 30px 0 0;
	text-align: right;
	width: 100px;
}

.skills li
{
	margin-top: 10px;
}

.skills img
{
	margin: 0;
}

.skills img.divider
{
	margin-left: 43px;
	margin-right: 43px;
}

p.highlight
{
	color: #76C450;
}

.quote-container
{
	margin-top: 50px;
}

.quote-container .attribution
{
	text-align: right;
	font-family: 'roboto', sans-serif;
	color: #444;
	font-size: 20px;
	font-weight: 100;
	padding-right: 10px;
	margin-top: 20px;
}

.work
{
	padding-top: 550px !important;
	padding-bottom: 550px !important;
}
.work-tiles a
{
	margin-right: 30px;
	transition: all 0.4s ease 0s;
	   -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.work-tiles a:last-of-type
{
	margin-right: 0;
}

.work-tiles a:hover
{
	 /* -webkit-filter: brightness(100%); */
	 transform: scale(2);


}

.work-tiles img
{
	/* -webkit-filter: brightness(95%); */
	transform: scale(1.0) !important;
    transition: transform 0.3s;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.work-tiles img:hover
{
	transform: scale(1.1) !important;
    transition: transform 0.3s;

}

.work-tiles a:active
{
	-webkit-filter: brightness(90%);
}

.wide
{
	margin-right: 100px;
}

#work {text-decoration: none !important; border: none;}

ul.work-meta
{
	font-family: 'and_black';
	font-size: 14px;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

ul.work-meta li
{
	margin-bottom: 10px;
	text-transform: uppercase;
}

ul.work-meta span
{
	color: #B0B0B0;
	margin-right: 20px;
	width: 60px;
	display: inline-block;

}

p.work-summary
{
	margin-top: 30px;
	margin-bottom: 60px;
}

img.work-example
{
	width: 100%;
	margin-bottom: 60px;
}

/* ANIMATIONS */

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bounce {
  -moz-animation: bounce 2s 1;
  -webkit-animation: bounce 2s 1;
  animation: bounce 2s 1;
}



/*

@keyframes spin {
  100% {transform: rotate(1turn); }
}

 img.spin
{
	  animation: spin 0.5s linear 1;
	    animation-play-state: running;
}

*/
