    <!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
    <script src="js/scrollreveal.min.js"></script>
    	<script>
		window.sr = ScrollReveal({ reset: true, scale: 1, viewFactor: 0.2, duration: 800, });
		sr.reveal('.snake', { origin: 'left' }, 500);
		sr.reveal('.reveal');
		// sr.reveal('.your-coach');
		// sr.reveal('#carousel');

	</script>
	<script src="{{base}}/js/jquery-2.1.4.min.js"></script>
	<script src="{{base}}/js/tether.min.js"></script>
	<script src="{{base}}/js/bootstrap.min.js"></script>

	<script src="{{base}}/js/scroll.js"></script>

  </body>
</html>