	<nav class="navbar navbar-toggleable navbar-inverse">
	  	<a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/brand@2x.jpg" height="18" width="155"/></a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="{{ site.baseurl }}/#work">work</a>
				<a class="nav-item nav-link" href="mailto:marc@langsman.com">hire me</a>

			</div>
	  		</div>
	</nav>
