
	{% include header.html %}

  	{% include nav.html %}

	<div class="container container-work">
		<div class="row mb-5">
			<div class="col d-flex flex-column justify-content-center align-items-center">
				<h1>{{ page.title }}</h1>
				<p class="sub-headline">{{page.sub-title}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<ul class="work-meta">
					<li><span>CLIENT: </span>{{ page.client }}</li>
					<li><span>PROJECT:</span>{{ page.project }}</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<p class="work-summary">{{page.summary}}</p>
			</div>
		</div>


	{{ content }}

</div>
	<div class="container work-footer">
	<div class="row">
		<div class="col d-flex flex-column hero justify-content-center align-items-center mb-5">
			<h1>let's work together.</h1>
			<a href="mailto:marc@langsman.com"><button class="btn-primary">get in touch</button></a>
		</div>
	</div>
	</div>


	{% include footer.html %}
